<html>
<body>
<div class="wrap">
<nav>
   <div class="logo" style="color: white;"><h2>MANAGERPAGE</h2></div>
   <ul>
       
      <li style="margin-left:-60%;margin-top: -3%;"><a href="#">Home</a></li>
      <li style="margin-top: -3%;"><a routerLink="/requestlist">RequestList</a></li>
      <li style="margin-top: -3%;"><a routerLink="/raiseform">RaiseForm</a></li>
      <li style="margin-top: -3%;margin-left: 65%;"><button type="buttton" class="btn btn-success" (click)='logout()'>Logout</button></li>
    </ul>

</nav>
<section></section>

</div> 
<!-- <div class="tilt" style="background-image: url('img\avenue-2215317_960_720.jpg');
background-size: cover;">
<div id="mySidenav" class="sidenav">
   <a routerLink="/raiseform" id="about" ><h4 >Raise<br>Form</h4></a>
   <a routerLink="/requestlist" id="blog" ><h5>Request<br>List</h5></a>
  
 </div>
</div> -->
</body>
</html>
